alabaster==0.7.10
Babel==2.5.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
boto==2.48.0
bottlenose==1.1.3
bs4==0.0.1
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.2
docutils==0.14
enum34==1.1.6
fake-useragent==0.1.7
functools32==3.2.3.post2
gensim==2.3.0
idna==2.6
imagesize==0.7.1
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.3.0
lxml==3.8.0
MarkupSafe==1.0
nbformat==4.4.0
networkx==2.0
nltk==3.2.4
nose==1.3.7
numpy==1.13.1
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
pprint==0.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
pyzmq==16.0.2
requests==2.18.4
scandir==1.5
scikit-learn==0.19.0
scipy==0.19.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.5.3
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
tornado==4.5.2
traitlets==4.3.2
typing==3.6.2
urllib3==1.22
wcwidth==0.1.7
xmltodict==0.11.0
